body {
    color: #1f2937;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

img {
    width: 400px;
}

.hero, .footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 20px 400px 70px;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 940;
    align-items: center;
    text-align: center;
}

ul {
    padding: 0;
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.text-left {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 16px;
    padding: 8px;
    font-size: 24px;
    width: 150px;
}

.main {
    font-size: 48px;
    font-weight: 900;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 400px;
    gap: 70px;
}

.info {
    font-size: 36px;
    font-weight: 900;
}

.blocks, .block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocks {
    gap: 40px;
}

.block {
    flex-direction: column;
    color: #777;
    width: 200px;
    text-align: center;
}

.blue {
    width: 200px;
    height: 200px;
    border: solid #3882f6;
    border-width: 20;
    border-radius: 16px;
}

.quote {
    background-color: #e5e7eb;
    padding: 70px 400px;
    display: flex;
    justify-content: center;
    text-align: right;
    flex-direction: column;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    text-align: left;
}

h2 {
    margin: 0;
}

.cta {
    background-color: #3882f6;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    padding: 40px;
    width: 100%;
}

.cta button {
    border: solid #f9faf8 2px;
}

.footer {
    justify-content: center;
    align-items: center;
    padding: 20px;
}